<h1 class="form_text">Add product</h1>
<div class="divMan">
    <form class="form_text" action="/products/add" method="POST">
			<label for="des">Category</label>
        <div class="dropdown">
            <select id="btn-primary2"class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                name="CategoryID">
                {{#categories}}
                    <option value="{{id}}">{{Category}}</option>
                {{/categories}}
            </select>
        </div>
        <div class="form-group">
            <label for="des">Description</label>
            <input type="text" class="form-control" id="pwd" name="Product" value="{{Product}}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
