<h1 class="form_text">Add Sale</h1>
<div class="divMan">
	<div class="divBoy">
    <form class="form_text" role="form" action="/sales/add" method="POST">
        <div class="form-group">
            <label for="des">Date</label>
            <input type="text" class="form-control" name="Date" value="{{Date}}" placeholder="DD-MM">
        </div>
        <div class="form-group">
            <label for="des">Quantity</label>
            <input type="text" class="form-control" name="Quantity" value="{{Quantity}}">
        </div>
        <div class="form-group">
            <label for="des">Price</label>
            <input type="text" class="form-control" name="Price" value="{{Price}}">
        </div>
        <div class="form-group">
            <label for="des">Product ID</label>
            <input type="text" class="form-control" name="ProductID" value="{{ProductID}}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
	</div>
</div>
<div class="right_panels">
	<h1>Right Panels</h1>
	<div class="info_div">
		<p>Get more info about Nelisa App on github. View all Stats on BeHance</p>
	</div>
</div>
<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
/>
