{{#if user}}
    <div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
        <h2 class="margin">Hi, {{user.name}}</h2>
        <h3 id='warning'>{{messages.warning}}</h3>
    </div>

{{/if}}

<h1 style="color:white">-Welcome to Your Dashboard-</h1>

{{#if is_admin}}
    <h1 class="margin" style="color:lightgreen"></span></h1>
    <div class="mother">
    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/ProfileNelisa.png" alt="Sk">
        </a>
    </div>
    <div class="col-xs-12 col-md-2">
        <h2>Manager </h2>
        <ul>
          <li><p>Lives : Khayelitsha</p></li>
          <li><p>Role : Amin/Manager</p></li>
          <li><p>Controll Panell : Full</p></li>
          <li><p>Can : Do whatever she wants</p></li>
        </ul>
    </div>

    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/sk.jpg" alt="Sk">
        </a>
    </div>
    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/ProjectcodeX3.png" alt="Sk">
        </a>
    </div>
    </div>
    {{else}}
    <div class="mother">
    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/ProfileXolani.png" alt="Sk">
        </a>
    </div>
    <div class="col-xs-12 col-md-2">
        <h2>Assistant</h2>
        <ul>
          <li><p>Lives : Khayelitsha</p></li>
          <li><p>Role : SmallAdmin</p></li>
          <li><p>Controll Panell : 1/5</p></li>
          <li><p>Can : Do stuff</p></li>
        </ul>
    </div>

    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/sk.jpg" alt="Sk">
        </a>
    </div>
    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/ProjectcodeX3.png" alt="Sk">
        </a>
    </div>
    </div>
{{/if}}
