{{#if user}}
<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
  <h1 class="margin">Hi, {{user.name}}</h1>
</div>

<!-- <center><img src="/img/nelisa1.png" alt="what image shows" height="300%" width="50%"></center> -->
{{/if}}

<h1>Welcome to Your Dashboard</h1>

{{#if user.is_admin}}
<h1 class="margin" style="color:red">Admin Role  : <span style="color: green">{{user.is_admin}}</span></h1>
{{/if}}
