<h1>Latest Technology News </h1>


<div class="row">
  <div id="feed" class="col-xs-6"></div>
  <div id="feed" class="col-xs-6">
    <h3>The standard Lorem Ipsum passage, used since the 1500s</h3>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum."
  </div>
</div>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load("feeds", "1");
    function initialize() {
      var feed = new google.feeds.Feed("http://feeds.abcnews.com/abcnews/technologyheadlines");
      feed.load(function(result) {
        if (!result.error) {
          var container = document.getElementById("feed");
          for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];

            var div = document.createElement("div");
            var p = document.createElement("a");
            p.id = "red";
            div.appendChild(document.createTextNode(entry.title));
            p.appendChild(document.createTextNode(entry.content));
            p.setAttribute('href', entry.link);
            container.appendChild(div);
            container.appendChild(p);
          }
        }
      });
    }
    google.setOnLoadCallback(initialize);

    </script>
