body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  background-color: #151515 !important;
  font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
/*Extra -----*/
  /*background: #f8f8f8;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}






#table12{
  border-top-right-radius: 20px !important;
}
#success{
  color: green;
}
label{
  color: white;
}
/*SalesStats*/
/*#output{
  padding: 20px;
}*/
.row101{
  padding: 20px;
}
.containerOne{
  display: block;
}
.container101{
  color: white;
}
.mother{
margin: auto;
color: white;
text-align: left;
}
.navbar-toggle{
  background: rgba(0, 0, 0, 0.5) !important;
  color: blue !important;
}
#warning{
  text-align: center!important;
  color: red;
}
/*Make the menu collapse button small*/
.icon-bar{
  width: 100% !important;
}
fieldset{
  color: white;
}
#legend{
  color: white;

}

.inner-bg {
  padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

/*---------------------------CheckBox--------------------------------------------*/
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}
/*.inner-bg{
  color: white;
  background-color: black;
  opacity: 0.5;
}*/
#table1{
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

#csricodexmlab_text{
  /*font-family:Atelier du Machiniste;*/
  /*font-family:monospace;*/
  /*font-size: 100px;*/
}
#csricodexmlab{
  /*opacity: 0.5;*/
  /*height: 200px !important;*/
  /*background-color: black;*/
  /*color: white !important;*/
  /*font-family:Atelier du Machiniste;*/
  font-family:monospace;
  /*font-size: 100px;*/
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
#image_div{
  text-align: center;
}
#form_text{
  text-align: center;
  width: 60%;
}
.pull-left{
  width: 100%;
}

#search_mobile{
  text-align: center !important;
}
.pull-left{
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.form-control {
  background-color: #044052 !important;
  border-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border: 1px solid white !important;
  color: white !important;
  text-align: center !important;
}
#form-control{
  background-color: #044052 !important;
  border-radius: 0px !important;
  border: 1px solid white !important;
  color: white !important;
}

.divMan{
  text-align: center;
  /*padding: 20px;*/
  width: 50%;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}
/*-----------------------------------------------------------------------------*/


ul.nav a:hover {
  color: #cddede !important;
  background-color: black !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
td btn:hover{
  color: #cddede !important;
  background-color: black !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;

}

.navbar-nav > li > .dropdown-menu {
  background-color: #044052;
}

a {
  color: white !important;
}

.navbar-inverse {
  background: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  border: none !important;
}

.navbar-brand>img {
  height: 100%;
  /*padding: 15px;*/
  width: auto;
}

@import url(http://fonts.googleapis.com/css?family=Doppio+One);

a:link, a:visited {
  color: black;
}

#container {
  padding: 10px;
}

#info {
  background-color: #02cab6;
}

#heading {
  text-align: center;
  font-family: sans-serif;
  color: red;
}

#Heading {
  text-align: center;
  font-family: sans-serif;
  color: white;
  background-color: #008080;
}

#heading2 {
  font-family: sans-serif;
  background-color: green;
  color: white;
  padding: 5px;
  text-align: center;
}

.para {
  font-family: sans-serif;
}

table {
  background-color: :#333 !important;
  font-family: sans-serif;
  text-align: left;
  padding: 10px;
  color: white;
}

.info {
  background-color: #044052 !important;
}

.editColor {
  background-color: #151515;
}

.btn-danger {
  background-color: #044052 !important;
  border-radius: 50px !important;
  border: 1px solid white !important;
}

.btn-warning {
  background-color: #044052 !important;
  border-radius: 0px !important;
  border: 1px solid white !important;
}

.btn-success {
  background-color: #044052 !important;
  border-radius: 0px !important;
  border: 1px solid white !important;
}

.btn-primary {
  background-color: #044052 !important;
  border-radius: 0px !important;
  border: 1px solid white !important;
}
#btn-primary2 {
  border: 1px solid green !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  font-size: 20px;
}
.info_div{
  background-color: black;
  height: 50px;
}
.btn-default {
  background-color: #008080 !important;
  border-radius: 0px !important;
  border: 1px solid  #044052 !important;
  color: white !important;
}

td {
  background-color: #044052;
  color: #00adc8;
}

.table-hover tbody tr:hover, .table-hover tbody tr:hover th {
  background-color: #008080 !important;
}

.dropdown-menu {
  border-radius: 0px !important;
  border: 1px solid  #044052 !important;
}

.navbar .brand {
  max-height: 70px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar a.navbar-brand {
  padding: 0px 15px 0px;
}

@media only screen and (max-width : 620px) {

  #Heading {
    color: white;
  }
  .buttons_mobile{
    text-align: center;
  }

  td {
    background-color: white;
    color: grey;
  }

  .info {
    background-color: white !important;
    color: grey;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    /*background-color:#33ccff !important;*/
    background-color: #151515 !important;
    color: white !important;
  }
}

@media only screen and (max-width: 620px) {
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover {
    background-color: #008080 !important;
    color: black;
  }

  ul.nav a:hover {
    color: lightblue !important;
    background-color: #151515 !important;
  }

  body {
    background-color: #151515 !important;
  }

  .form_text {
    color: white !important;
  }

  .nav-collapse, .nav-collapse.collapse {
    overflow: visible !important;
    height: auto !important;
  }

  .navbar .btn-navbar {
    display: none;
  }

  .jumbotron {
    /*height: 50% !important;*/
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }


  .dropdown-menu li:hover .sub-menu {
    display: block !important;
    visibility: visible !important;
  }

  #Heading {
    color: black;
  }
}
